html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: #ecd9ca;
	color: #170a1c;
}

:root {
	--hot: #f92a82;
	--cold: #1c6e8c;
	--purple: #b342f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Schoolbell', cursive;
}

p {
	font-family: 'Comic Neue', cursive;
}

.hot {
	color: var(--hot);
}

.cold {
	color: var(--cold);
}
